body {
    background-color: mintcream;
    
}

h1.titel {
    color: green;
    text-decoration: double underline overline;
    text-align: center;
}

p.codeBox {
    background-color: lightgray;
    border:2px solid blue;
    margin-left: 5%;
    width:55%;

    }
    
    #kamers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        text-align: center;
      }
      
      #kamers td, #kamers th {
        border: 1px solid #aaa;
        padding: 8px;
      }
            
      #kamers tr:hover {background-color: #ddd;}
      
      #kamers th {
        padding-top: 12px;
        padding-bottom: 12px;
        color: blue;
      }

thead {
    color: blue;
}

caption {
    font-weight: bold;
}



.chapter {
    position: relative;
    margin-bottom: 1px;
    margin-left: 15%;
    width:70%;
    color: black;
    overflow: hidden;
}

input {
    position: absolute;
}

label.chapterlabel {
    position: relative;
    display: block;
    padding: 0 0 0 20px;
    background-color: darkseagreen;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}

.chapter-content {
    max-height: 0;
    overflow: auto;
    background-color: mintcream;
    -webkit-transition: max-height .50s;
    -moz-transition: max-height .50s;
    -o-transition: max-height .50s;
    transition: max-height .50s;

}

.chapter-content p {
    margin: 20px;
}

input:checked ~ .chapter-content {
    max-height: 5000px;
}

label.chapterlabel::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

input[type=checkbox] + label.chapterlabel::after {
    content: "+";
}

input[type=checkbox]:checked + label.chapterlabel::after {
    content: "-";
}

/* De tabs die in de cursus geleerd zijn zien blauw */
.tabKlaar {
    color: blue;
}

/* De tabs die niet meer mogen gebruikt worden en oud zijn, zijn rood */
.tabOud {
    color: red;
}

/* De tabs die in de cursus niet geleerd zijn zien zwart maar dit moet niet want die zijn standard zwart */
.tabNog {
    color: black;
}